@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

html{
    font-size: 62.5%;
}

body{
    background-color: black;
    padding: 5rem 10rem;
}
